.about-container {
  margin: 0px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 24px 81px;
  background-color: white;
}

@media screen and (max-width: 850px) {
.about-container {
  padding: 18px; 
}
}